/* Costume css file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



/* .containerpost-blogpost,
.title-blogpost,
.content-blogpost,
.date-blogpost {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 20px));
  gap: 70px;
  justify-content: center;
  padding: 90px;
} */

/* .listing,
.title,
.description {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 20px));
  gap: 70px;
  justify-content: center;
  padding: 90px;
} */

.title {
  color: blueviolet;
}

.listing {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 300px));
  gap: 50px;
  padding: 1em;
  width: 100vw;
  justify-content: center;
  margin-top: -25px;
  cursor: pointer;
}

.img-fluid {
  height: 200px;
  width: 200px;
  object-fit: cover;
  gap: 50px;
}

.description {
  font-size: 20px;
  color: yellowgreen;
} 






/*  h2.blog-post-title {
    font-family: Arial, Helvetica, sans-serif;
  } */


  